@model ReceptionDesk.ViewModels.StudyMeetingTotalFeeViewModels

@{
    ViewBag.Title = "金額合計";
}

<h2>金額合計</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().IsStudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().SocialGathering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().IsMinors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().IsInstructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().IsConcerned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().IsStaff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().CheckedIn)
        </th>
        <th>勉強会費（予定）</th>
        <th>懇親会費（予定）</th>
        <th>勉強会費（実績）</th>
        <th>懇親会費（実績）</th>
    </tr>
    @foreach (var item in Model.Participants)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@MyHelpers.DisplayBool(item.IsStudent)</td>
            <td>@MyHelpers.DisplayBool(item.SocialGathering)</td>
            <td>@MyHelpers.DisplayBool(item.IsMinors)</td>
            <td>@MyHelpers.DisplayBool(item.IsInstructor)</td>
            <td>@MyHelpers.DisplayBool(item.IsConcerned)</td>
            <td>@MyHelpers.DisplayBool(item.IsStaff)</td>
            <td>@MyHelpers.DisplayBool(item.CheckedIn)</td>
            <td>@Html.DisplayFor(modelItem => item.CalcFee().SeminarFee)</td>
            <td>@Html.DisplayFor(modelItem => item.CalcFee().SocialGatheringFee)</td>
            <td>
                @if (item.CheckedIn)
                {
                    @item.CalcFee().SeminarFee
                }
            </td>
            <td>
                @if (item.CheckedIn)
                {
                    @item.CalcFee().SocialGatheringFee
                }
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@Model.EstSeminarFee</td>
        <td>@Model.EstSocialGatheringFee</td>
        <td>@Model.ResSeminarFee</td>
        <td>@Model.ResSocialGatheringFee</td>
    </tr>
</table>
