@model ReceptionDesk.Models.StudyMeeting

@{
    ViewBag.Title = "受付";
}

<h2>受付</h2>
<span>受付済みを非表示</span>　<input type="checkbox" name="my-checkbox" checked>

<div class="container">
    @foreach (var item in Model.Participants)
    {
        var checkedIn = item.CheckedIn ? "checked-in" : "";
        <div class="thumbnail participant @checkedIn" onclick="OnClick(@item.Id)">
            <div class="img-thumbnail">
                @MyHelpers.Image(item.ImageUrl, "img-rounded icon")
            </div>
            <div class="name">
                @Html.DisplayFor(x => item.Name)
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "StudyMeeting")
</div>
@section scripts
{
    <script type="text/javascript">
        function OnClick(id) {
            location.href = "../CheckIn/" + id;
        }

        $(function(){
            $("[name='my-checkbox']").bootstrapSwitch();
            $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
                $(".checked-in").toggle('fast');
            });
        });

    </script>
}
